<extend name="Public:admin" />
<block name="main">
	<article class="module width_full">
		<header><h3>新增用户</h3></header>
		<form method="post" action="{:U('User/userAdd')}">
			<div class="module_content">
				<fieldset>
					<label>用户名</label>
					<input type="text" name="username">
				</fieldset>
				<fieldset>
					<label>密码</label>
					<input type="text" name="password">
				</fieldset>
			</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="提交" class="alt_btn">
					<input type="reset" value="重置">
				</div>
			</footer>
		</form>
	</article><!-- end of post new article -->
</block>